{% load staticfiles i18n humanize %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block head_title %}Cassetto{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block head_description %}Storage service for openpolis network{% endblock %}">
    <meta name="author" content="{% block page_author %}joke2k{% endblock %}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block css %}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/fontawesome/latest/css/font-awesome.css"/>

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock css %}

    <link rel="icon" href="{% static 'images/favicon.ico' %}" />

    {% block extra_head %}{% endblock %}
</head>

<body>{% block body %}

<div class="container">
<div class="row">
    <div class="col-md-12 col-sm-12">
            <h1 class="text-center" id="logo">{{ site.name }}</h1>
    </div>
</div>
{% block container %}
<div class="row">
{% block content %}
{% endblock content %}
</div>
{% endblock container %}
</div> <!-- /container -->

{% block modal %}{% endblock modal %}

<!-- Javascripts
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascript %}
<!-- Latest JQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<!-- place project specific Javascript in this file -->
<script src="{% static 'js/project.js' %}"></script>
{% endblock javascript %}
{% endblock %}{# end block body #}
{% block extra_body %}
{% endblock %}
</body>
</html>